//base font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
//editor variables
$gray-100: #f3f3f3;
$gray-200: #dff9fd;
$gray-600: #a7a7a7;
$black: #000000;
$primary: #606060; 
$secondary: #2196f3;
$body: #343a40;
