.be {
    &__page-editor {
        display: flex;
        align-items: center;
    }
    &__frm {
        width: calc(100% - 45px);
        min-height: calc(100vh - 45px);
        margin-top: 40px;
        margin-left: 45px;
        border: 0;
        outline: 0; 
        &--tablet { 
            width: 768px;
            margin: 40px auto 0;
            border: 1px solid $gray-300;
        }
        &--mobile { 
            width: 400px;
            margin: 40px auto 0;
            border: 1px solid $gray-300;
        }
    }
    &__red {
        color: #fff;
    }
}