.be {
    &__sidebar {
        position: fixed;
        top:0;
        right:0;
        bottom: 0;
        left: 0;
        width: 50px;
        height: 100vh;
        overflow: auto;
        background-color: $black;
        z-index: 1;
        border-right: 1px solid rgba($gray-100,.8);
        box-shadow: 2px 0 3px $gray-600;
    }
}