.be {
    &__sidebar {
        position: fixed;
        top:0;
        right:0;
        bottom: 0;
        left: 0;
        width: 45px;
        height: 100vh;
        padding-top: 40px;
        overflow: auto;
        background-color: $white;
        z-index: 998; 
        box-shadow: 2px 0 3px rgba($gray-600,.6);
        color: $white; 
        &__item {
            display: flex;
            justify-content: center;
            padding: 10px;
            color: $primary;
            cursor: pointer; 
            border-top: 1px solid rgba($gray-600, .3);
            background-color: transparent;
            transition: all .3s ease;
            &:hover {
                color: $secondary;  
            }
            &:focus,
            &:visited,
            &:active {
                background-color: $gray-200;
            }
            svg {
                width: 1em;
            }
        }
    }
}